* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    background-color: #1F2937;
}

header {
    height: 3em;
}

nav {
    height: 3em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}

header-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row; 
    list-style: none;
    gap: 50px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold; 
}

.nav-links {
    font-size: 18px;
    font-family: monospace;
    color: #E5E7EB;
}

.header-section h1 {
    font-size: 48px;
    font-family: monospace;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header-section p {
    font-size: 18px;
    font-family: monospace;
    color: #E5E7EB;
}

.header-section button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-family: monospace;
    background-color: #3882F6;
    border-color: transparent;
    border-radius: 15px;
    color: #F9FAF8;
}

.header-section img {
    height: 300px;
    width: auto;
    display: block;
}

.header-content {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 50px 25px 0px 25px;
    padding-bottom: 50px;
}

.header-content-text {
    width: 500px;
}