* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    font-size: 18px;
    color: #E5E7EB;
}

