* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section start */
.header-section {
    background-color: #1F2937;
}

header {
    height: 3em;
}

nav {
    height: 3em;
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    margin-left: 75px;
    margin-right: 75px;
    align-items: center;
}

header-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row; 
    list-style: none;
    gap: 50px;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold; 
}

.nav-links {
    font-size: 18px;
    font-family: monospace;
    color: #E5E7EB;
}

.header-section h1 {
    font-size: 48px;
    font-family: monospace;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.header-section p {
    font-size: 18px;
    font-family: monospace;
    color: #E5E7EB;
}

.header-section button {
    height: 40px;
    width: 150px;
    font-size: 15px;
    font-family: monospace;
    background-color: #3882F6;
    border-color: transparent;
    border-radius: 15px;
    color: #F9FAF8;
}

.header-section img {
    height: 400px;
    width: auto;
    display: block;
}

.header-content {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin: 100px 25px 0px 25px;
    padding-bottom: 100px;
}

.header-content-text {
    width: 500px;
}

.header-content-text button {
    margin-top: 30px;
}
/* header section end */ 

h2 {
    text-align: center; 
    font-family: monospace;
    font-size: 30px;
    font-weight: extra-bold;
    margin: 30px auto 30px auto;
}

.boxes-container {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center; 
}
.box-text {
    width: 150px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center; 
    word-break: keep-all;
}

.box-text p {
    font-family: monospace;
    font-size: 12px;
}
.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}