* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    background-color: #1F2937;
}

nav {
    display: flex; 
    flex-direction: row;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold; 
}

.nav-links {
    font-size: 18px;
    font-family: monospace;
    color: #E5E7EB;
}

